<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./index.css">
    <title>运荔枝开放平台</title>
</head>
<body class="app">
<div class="header">
    <div class="content">
        <img class="logo" src="./images/logo.png">
        <span class="circle"></span>
        <span class="name">开放平台</span>
    </div>
</div>
<div class="banner">
    <img class="header_img" src="./images/banner.png">
    <div class="text_box">
        <p class="big_text">开放赋能-无界联通</p>
        <p class="small_text">供应链全程可视化 物流作业实时监控</p>
        <div>
            <div class="download_btn" onclick="downloadFile()">技术文档下载</div>
        </div>
    </div>
</div>
<div class="characteristic module">
    <h3 class="big-title">开放能力</h3>
    <div class="desc small-title">OPEN ABILITY</div>
    <div class="bottom-label"></div>
    <div class="box-center">
        <div class="point0">
            <div class="img_box normal-text">
                订单下发
            </div>
            <div class="desc_points small-text">
                <p class="big-text">订单下发</p>
                <ul>
                    <li>销售出库</li>
                    <li>采购入库</li>
                    <li>退货入库</li>
                    <li>退供出库</li>
                    <li>运输订单</li>
                </ul>
            </div>
        </div>
        <div class="point1">
            <div class="img_box normal-text">
                库存可视
            </div>
            <div class="desc_points small-text">
                <p class="big-text">库存可视</p>
                <ul>
                    <li>入库数量</li>
                    <li>出库量</li>
                    <li>实时库存量</li>
                    <li>历史库存量</li>
                </ul>
            </div>
        </div>
        <div class="point2">
            <div class="img_box normal-text">
                物流追踪
            </div>
            <div class="desc_points small-text">
                <p class="big-text">物流追踪</p>
                <ul>
                    <li>操作节点</li>
                    <li>操作人员</li>
                    <li>运输司机</li>
                    <li>运输车辆</li>
                </ul>
            </div>
        </div>
        <div class="point3">
            <div class="img_box normal-text">
                轨温监控
            </div>
            <div class="desc_points small-text">
                <p class="big-text">轨温监控</p>
                <ul>
                    <li>车辆实时定位</li>
                    <li>运输轨迹回放</li>
                    <li>车厢温度实时监控</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="features module">
    <h3 class="big-title">平台特色</h3>
    <div class="desc small-title">PLATFORM FEATURES</div>
    <div class="bottom-label"></div>
    <div class="box-center">
        <div class="point0">
            <img class="icon" src="./images/feature0.png">
            <div>
                <div class="small-title">丰富物流资源共享</div>
                <p class="tip small-text">20000+冷链车辆、3000+司机、 300000+㎡库房</p>
            </div>
        </div>
        <div class="point1">
            <img class="icon" src="./images/feature1.png">
            <div>
                <div class="small-title">支持多种物流场景</div>
                <p class="tip small-text">满足餐饮、商超、采销、电商 等多场景物流需求</p>
            </div>
        </div>
        <div class="point2">
            <img class="icon" src="./images/feature2.png">
            <div>
                <div class="small-title">定制化接口</div>
                <p class="tip small-text">支持进销存、ERP、电商系统、 智能硬件等多种软硬件标准接口</p>
            </div>
        </div>
        <div class="point3">
            <img class="icon" src="./images/feature3.png">
            <div>
                <div class="small-title">数据安全隔离</div>
                <p class="tip small-text">通过中间件、中间表，保持系 统间数据环境安全</p>
            </div>
        </div>
    </div>
</div>
<div class="partners module">
    <h3 class="big-title">合作伙伴</h3>
    <div class="desc small-title">PARTNERS</div>
    <div class="bottom-label"></div>
    <div class="box-center">
        <img class="partners_img" src="./images/partners.png">
    </div>
</div>
<footer>
        <span>
        版权所有：成都运荔枝科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    <a href="http://beian.miit.gov.cn">
        备案号：蜀ICP备19017829号-1
    </a>
</footer>
<script>
    function downloadFile() {
        window.location.href = "/download/downloadUtilFile";
    }
</script>
</body>
</html>
